#logo > img{
  width: 70px;
  margin-right: 10px;
  cursor: pointer;
}

.navbar {
  background-color: var(--primary-color);
}

.navbar-toggler{
  border: var(--bs-border-width) solid var(--bs-gray-300);
}

.custom-toggler.navbar-toggler {
  border-color: var(--gray-text);
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url(
  "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(201, 201, 201)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item > .nav-link {
  color: var(--gray-text);
}
