<div class="row">
  <div id="options" class="col-7 d-none d-md-block">
    <div class="col-12 movies text-right" role="button" (click)="goTo('movies')">
      <h1 class="text-end text-palette-1">Películas</h1>
    </div>
    <div class="col-10 actors" role="button" (click)="goTo('actors')">
      <h1 class="text-palette-1">Actores</h1>
    </div>
    <div class="col-8 directors" role="button" (click)="goTo('directors')">
      <h1 class="text-palette-1">Directores</h1>
    </div>
  </div>
  <div class="col-md-5 col-sm-12 text-center mt-5 text-secondary-custom">
    <small class="h1 p-0 m-0 fst-italic">Bienvenido a</small>
    <p class="custom-title text-center fw-bolder">CINEPEDIA</p>
    <div class="mt-5">
      <img src="../../assets/img/popcorn.png" alt="Imagen decorativa del sitio">
    </div>
  </div>
</div>
